@{
    ViewBag.Title = "Pagina principală";
    Layout = "_Layout";
}
<div class="w-full h-40 bg-purple-600 text-black text-center flex items-center justify-center text-4xl">
    Test Tailwind
</div>

