@{
    ViewData["Title"] = "Statistici";
    var prezenta = ViewBag.Prezenta ?? 0;
}


<div class="flex items-center justify-between mb-4">
    <div>
        <h2 class="text-xl font-semibold text-gray-800">Prezența la vot</h2>
    </div>
    <span class="text-2xl font-bold text-blue-600">@prezenta%</span>
</div>

<div id="donut-chart" class="py-4" data-presence="@prezenta"></div>
<div id="chart-selection-label" class="text-sm text-gray-600 mt-2"></div>




<h3 class="text-xl sm:text-2xl font-bold text-gray-800 mb-6">
    Participare pe Grupe de Vârstă
</h3>

<div id="age-participation-chart" data-age-data='@Html.Raw(ViewBag.AgeData)'>
    <!-- Barele se generează\a dinamic -->
</div>








<!-- Harta trebuie de schimbat -->

<script src="~/js/mapdata.js"></script>
<script src="~/js/countrymap.js"></script>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-6 items-start">
    <!-- Harta: pe desktop ocupă jumătate din lățime, pe mobil 100% -->
    <div class="w-full h-[420px] lg:h-[460px]">
        <div id="map" class="w-full h-full"></div>
    </div>


    <div class="max-w-sm w-full bg-neutral-primary-soft p-4 md:p-6">
        <!-- Line Chart -->
        <div class="py-6" id="pie-chart"></div>
    </div>

</div>
<br>
<br>
<br>
<br>
